<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Main page<h1>
    <hr/>

    <ul>
    {{#showlist}}
        <li>{{title}} - {{price}}</li>
    {{/showlist}}
    </ul>
</body>
</html>    